.actions-grid {
  gap: 0.5rem;
}

.slds-card {
  overflow: hidden;
}

.empty-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
}

.footer-container {
  margin-top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: -32px;
}

.alert-container {
  margin-bottom: -2px;
}

/**
  Ensure a minimum height before the table contents have loaded
 */
.datatable-placeholder {
  min-height: 120px;
}

.datatable-container {
  --lwc-colorBackground: #fff;
  --lwc-shadowDocked: none;

  position: relative;
  margin-bottom: -1px;
  margin-right: -1px;
  overflow: hidden;
}

/*
  Add an invisible block on the right of the datatable
  to hide the right most resizing line.
 */
.datatable-sidebar {
  position: absolute;
  top: 0;
  right: 1px;
  height: 32px;
  width: 5px;
  background-color: #f3f3f3;
}